/* Medium <= 992px */
@media screen and (max-width: 992px) {
    header {
        height: 100px;
    }

    .navbar {
        padding: 0;
        margin: 0;
    }

    /*.no-scroll {
        /* empêche de scroller derrière */
    /*
        overflow: hidden;
    }*/

    .navbar .logo {
        max-width: 110px;
        top: -18px;
    }

    .nav-list {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        background-color: #000000e6;
        backdrop-filter: blur(250px);

        /* On cache le navbar hors l'écran par défaut */
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 1000;
    }

    .nav-list.mobile-menu {
        /* Fait apparaitre le menu */
        transform: translateX(0);
    }

    .navbar .menu {
        display: block;
        z-index: 1100;
    }

    .nav-list li {
        padding: 5px;
    }

    .nav-list li a {
        padding: 2px;
        font-size: 1.2em;
        margin-top: 1.2em;
        margin-left: 5em;
    }

    .lien-media {
        margin: auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 45%
    }

    .nav-list .lien-media a {
        padding: 0px;
        margin: 14px;
        font-size: 1.2em;
        margin-top: 5em;
    }

    .navbar.scroller {
        height: 7%;
    }

    .navbar.scroller .logo {
        top: -30px;
        max-width: 140px;
    }

    .navbar.scroller .nav-list li a {
        padding: 2px;
        font-size: 1.2em;
        margin-top: 1.2em;
        margin-left: 5em;
    }

    .navbar.scroller .nav-list .lien-media a {
        padding: 0px;
        margin: 14px;
        font-size: 1.2em;
        margin-top: 5em;
    }

    /*Home*/
    #home {
        padding: 0;
        margin: 0;
    }

    #home .home-container {
        gap: 50px;
    }

    #home .item .slogan {
        font-size: 22px;
    }

    #home .item .slogan span {
        font-size: 40px;
    }

    .item .btn {
        width: 200px;
        font-size: 16px;
    }

    /* About */
    #about {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .about-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-item {
        width: 80%;
    }

    /* Service */
    #service {
        padding: 0;
        margin: 0;
        height: 100%;
        margin-bottom: 5em;
    }

    .service-item {
        width: 85%;
        height: auto;
        margin: 2%;
        padding: 0;
        margin: 1%;
        justify-content: space-around;
    }

    /* Blog */
    #blog {
        padding: 0;
        margin: 0;
        border-bottom: 5%;
    }

    #blog h1 {
        margin: 10% 0% 1%;
    }

    #blog p {
        margin: 5% 0% 5%;
    }

    #blog .gallery {
        gap: 25px;
    }

    .gallery .gallery-item {
        width: 45%;
    }

    .gallery-item img {
        height: 58%;
    }

    .gallery-item i {
        margin: 1%;
        font-size: 25px;
    }

    .gallery-item .desc {
        padding: 18px;
    }

    /* Equipe */
    #equipe {
        padding: 0;
        margin: 0;
        border-bottom: 5%;
        background-color: rgba(244, 244, 244, 0.558);
    }

    .equipe-container {
        gap: 50px;
    }

    .equipe-item {
        width: 30%;
        margin: 0.1%;
        flex-grow: 1;
        justify-content: center;
    }

    .equipe-item img {
        width: 180px;
        height: 180px;
    }

    .equipe-item .identite {
        margin: 12%;
    }

    .equipe-item .equipe-lien-media a {
        text-decoration: none;
        color: rgb(27, 13, 4);
        margin: 2%;
        font-size: 20px;
    }

    #equipe .box-under {
        margin-top: 5%;
    }

    /* Contact */
    #contact {
        height: 100%;
        padding: 0;
        margin: 2%;
        margin-bottom: 1%;
    }

    .contact-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin: 2%;
    }

    .contact-list .contact-item {
        width: 85%;
    }

    .contact-list .contact-item-1 {
        flex-direction: row;
    }

    .contact-item-1 .item {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px;
    }

    .contact-item .item a {
        font-size: 18px;
        margin: 0px;
    }

    .contact-item .item a i {
        font-size: 28px;
        margin: 18px;
    }

    .contact-item iframe {
        width: 100%;
        height: 100%;
    }

    /* Footer */
    footer {
        padding: 0;
        margin: 0;
    }

    .retour-entete {
        top: -25px;
    }

    .retour-entete a {
        font-size: 25px;
    }

    .copy {
        font-size: 13px;
    }

}

/* Small <= 768px */
@media screen and (max-width: 768px) {

    /*Home*/
    #home .home-container {
        gap: 30px;
    }

    #home .item .slogan {
        padding: 2px;
        font-size: 18px;
    }

    #home .item .slogan span {
        font-size: 30px;
    }

    .item .btn {
        padding: 5px 8px 8px;
        font-size: 14px;
    }

    #home .item img {
        width: 200px;
        height: 200px;
        position: relative;
        margin-left: -25%;
    }

    /* Blog */
    #blog .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery .gallery-item {
        width: 88%;
        height: 620px;
    }

    .gallery-item img {
        height: 80%;
    }

    /* Equipe */
    .equipe-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .equipe-item {
        width: 80%;
    }

    .equipe-item img {
        width: 150px;
        height: 150px;
    }

    .equipe-item .identite {
        text-align: center;
        margin: 1px;
    }

    /* Contact */
    #contact {
        height: 100%;
        padding: 0;
        margin: 10;
        margin-bottom: 1%;
    }

    .contact-list {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin: 2%;
    }

    .contact-list .contact-item {
        padding: 2%;
        height: 100%;
        width: 95%;
    }

    .contact-item-1 .item {
        padding: 0.1%;
        flex-direction: column;
    }

    .contact-item .item a {
        font-size: 16px;
        margin: 2px;
    }

    .contact-item .item a i {
        margin: 2px;
    }

    .contact-list .contact-item-last {
        height: 400px;
        width: 95%;
    }

    .contact-item iframe {
        height: 100%;
        width: 100%;
    }

    /* Footer */
    footer>#container {
        flex-direction: column;
        gap: 35px;
        padding: 2rem;
    }


    #container .bloc-2 {
        text-align: center;
        transition: all 1s ease;
    }

    .retour-entete {
        position: relative;
        top: -340px;
        left: 220px;
        transition: all 1s ease;
    }

}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {

    /*Home*/
    .intro {
        margin-top: -25em;
    }

    .intro .slogan span {
        font-size: 32px;
    }

    .bloc-btn {
        left: 4%;
    }

    /* Contact */
    .contact-list {
        margin: 3%;
    }

    .contact-item-1 .item {
        display: flex;
        flex-direction: column;
        padding: 1%;
    }

    /* Footer */
    .retour-entete {
        top: -300px;
        left: 160px;
    }

}

/* Ecran orienté */

@media (max-width: 992px) and (orientation: landscape) {
    .item .bloc-btn {
        top: 50%;
    }

    #home img {
        right: 10%;
        width: 280px;
        height: 280px;
    }
}