/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .navbar {
        padding: 0;
        margin: 0;
    }

    /*.no-scroll {
        /* empêche de scroller derrière */
    /*
        overflow: hidden;
    }*/

    .navbar .logo {
        max-width: 110px;
        top: -18px;
    }

    .nav-list {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        background-color: #000000e6;
        backdrop-filter: blur(250px);

        /* On cache le navbar hors l'écran par défaut */
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        z-index: 1000;
    }

    .nav-list.mobile-menu {
        /* Fait apparaitre le menu */
        transform: translateX(0);
    }

    .navbar .menu {
        display: block;
        z-index: 1100;
    }

    .nav-list li {
        padding: 5px;
    }

    .nav-list li a {
        padding: 2px;
        font-size: 1.2em;
        margin-top: 1.2em;
        margin-left: 5em;
    }

    .lien-media {
        margin: auto;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 45%
    }

    .nav-list .lien-media a {
        padding: 0px;
        margin: 20px;
        font-size: 1.4em;
        margin-top: 5em;
    }

    .navbar.scroller {
        height: 7%;
    }

    .navbar.scroller .logo {
        top: -30px;
        max-width: 140px;
    }

    .navbar.scroller .nav-list li a {
        padding: 2px;
        font-size: 1.2em;
        margin-top: 1.1em;
        margin-left: 5em;
    }

    .navbar.scroller .nav-list .lien-media a {
        padding: 0px;
        margin: 20px;
        font-size: 1.4em;
        margin-top: 5em;
    }

    /*Home*/
    #home {
        padding: 0;
        margin: 0;
    }

    .intro {
        margin-top: -38em;
    }

    .intro .slogan {
        padding: 2px;
        font-size: 25px;
    }

    .intro .slogan span {
        font-size: 48px;
    }

    .bloc-btn {
        top: 45%;
        left: 26%;
    }

    .btn {
        padding: 15px 30px;
        margin-top: 10px;
    }

    #home img {
        width: 320px;
        height: 320px;
    }

    /* About */
    #about {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .about-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about-item {
        width: 86%;
    }

    /* Service */
    #service {
        padding: 0;
        margin: 0;
        height: 100%;
        margin-bottom: 5em;
    }

    .service-item {
        width: 75%;
        height: auto;
        margin: 2%;
        padding: 0;
        justify-content: space-around;
    }

    /* Blog */
    #blog {
        padding: 0;
        margin: 0;
        border-bottom: 5%;
    }

    #blog h1 {
        margin: 15% 0% 1%;
    }

    #blog p {
        margin: 5% 0% 8%;
    }

    #blog .gallery {
        gap: 25px;
    }

    .gallery .gallery-item {
        width: 40%;
    }

    .gallery .gallery-item:hover {
        border: 1px solid #424242;
    }

    .gallery-item img {
        height: 60%;
    }

    .gallery-item i {
        margin: 2%;
        font-size: 20px;
    }

    .gallery-item .desc {
        padding: 15px;
    }

    /* Equipe */
    #equipe {
        padding: 0;
        margin: 0;
        border-bottom: 5%;
        background-color: rgba(244, 244, 244, 0.558);
    }

    .equipe-container {
        gap: 50px;
    }

    .equipe-item {
        width: 30%;
        margin: 0.1%;
        flex-grow: 1;
        justify-content: center;
    }

    .equipe-item img {
        width: 100px;
        height: 100px;
    }

    .equipe-item .identite {
        margin: 12%;
    }

    .equipe-item .equipe-lien-media a {
        text-decoration: none;
        color: rgb(27, 13, 4);
        margin: 2%;
        font-size: 20px;
    }

    #equipe .box-under {
        margin-top: 5%;
    }

    /* Contact */
    #contact {
        height: 100%;
        padding: 0;
        margin: 10;
        margin-bottom: 1%;
    }

    #contact h1 {
        margin: 5em 0em 0.1em;
    }

    .contact-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }

    .contact-list .contact-item-1 {
        width: 80%;
    }

    .lien-media-contact {
        flex-direction: row;
        transition: all 1s ease;
    }

    .contact-list .contact-item {
        width: 80%;
    }

    /* Footer */
    footer {
        padding: 0;
        margin: 0;
    }

    .retour-entete {
        top: -25px;
    }

    .retour-entete a {
        font-size: 25px;
    }

    .copy {
        font-size: 13px;
    }

}

/* Small <= 768px */
@media screen and (max-width: 768px) {

    /*Home*/
    .intro .slogan {
        padding: 2px;
        font-size: 25px;
    }

    .intro .slogan span {
        font-size: 48px;
    }

    .bloc-btn {
        top: 50%;
        left: 20%;
    }

    .btn {
        padding: 10px 15px;
        margin-top: 5px;
        font-size: 14px;
    }

    #home img {
        width: 250px;
        height: 250px;
    }

    /* Service */
    #service {
        margin: 0;
        padding: 0;
    }

    .service-item {
        width: 450px;
    }

    /* Blog */
    #blog .gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery .gallery-item {
        width: 92%;
        height: 925px;
    }

    .gallery-item img {
        height: 86%;
    }

    /* Equipe */
    .equipe-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .equipe-item img {
        width: 150px;
        height: 150px;
    }

    /* Contact */
    .contact-list .contact-item-1 {
        width: 85%;
    }

    .contact-item a {
        font-size: 13px;
    }

    .contact-item a i {
        margin: 5px;
    }

    /* Footer */

    footer>#container {
        flex-direction: column;
        gap: 35px;
        padding: 2rem;
    }


    #container .bloc-2 {
        text-align: center;
        transition: all 1s ease;
    }

    .retour-entete {
        position: relative;
        top: -340px;
        left: 220px;
        transition: all 1s ease;
    }

}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {

    /*Home*/
    .intro {
        margin-top: -25em;
    }

    .intro .slogan span {
        font-size: 32px;
    }

    .bloc-btn {
        left: 4%;
    }

    /* Contact */
    .contact-list .contact-item-1 {
        width: 95%;
    }

    /* Footer */
    .retour-entete {
        top: -340px;
        left: 160px;
    }

}

/* Ecran orienté */

@media (orientation: landscape) {
    .intro {
        margin-top: -16em;
    }

    .intro .slogan span {
        font-size: 25px;
    }

    .bloc-btn {
        top: 60%;
        left: 36%;
    }

    .btn {
        padding: 10px 10px;
        margin-top: 5px;
        font-size: 13px;
    }

    #home img {
        right: 10%;
        width: 150px;
        height: 150px;
    }
}