* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Poppins', sans-serif;
     scroll-behavior: smooth;
     transition: all ease 2s;
}

.home-bloc {
     background: url('../assets/photos/arriere-plan.png') no-repeat center center/cover;
     height: 100vh;
     background-color: #2d2d2c;
}

header {
     width: 100%;
     height: 70px;
     padding: 0;
}

/* Bar de Navigation */
.navbar {
     position: fixed;
     top: 0;
     width: 100%;
     height: 10%;
     display: flex;
     justify-content: end;
     padding: 5px;
     transition: all 1s ease-in;
     border-bottom: 1px solid rgba(63, 62, 62, 0.212);
     z-index: 1100;
}

.navbar .logo {
     position: absolute;
     top: -40px;
     left: 25px;
     max-width: 200px;
     z-index: 1000;
     transition: all 1s ease-in;
}

.logo:hover {
     transform: translateX(4px);
}

.nav-list {
     /*position: sticky; /* Crée la barre "Collante" Une position en fonction de la position de défilement */
     list-style: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     display: flex;
     justify-content: end;
}

.nav-list li a {
     display: block;
     color: white;
     text-decoration: none;
     font-weight: bold;
     margin-top: 25px;
     padding: 4px;
     margin-left: 60px;
     margin-right: 50px;
     transition: all 1s ease-out;
     z-index: 999;
}

.nav-list a:hover {
     color: #feb22e;
     font-weight: bold;
}

.navbar .menu {
     display: none;
     position: absolute;
     top: 18px;
     right: 45px;
     width: 40px;
     border-radius: 5px;
}

.navbar.scroller {
     height: 6%;
     background-color: #000000d4;
     border-bottom: 1px solid rgba(87, 87, 87, 0.997);
}

.navbar.scroller .logo {
     top: -40px;
     max-width: 150px;
     transition: all 1s ease-in;
}

.navbar.scroller .nav-list li a {
     margin-top: 8px;
     padding: 0px;
     margin-left: 20px;
     transition: all 1s ease-in;
}

.lien-media {
     display: none;
}

/* Home */
#home {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     transition: all 1s ease;
}

.intro {
     margin-top: -25em;
     text-align: justify;
     transition: all 1s ease;
     z-index: 100;
}

.intro .slogan {
     padding: 5px;
     text-align: center;
     color: rgb(241, 240, 237);
     font-size: 28px;
}

.intro .slogan span {
     font-weight: bold;
     font-size: 48px;
     color: #fff5da;
}

.intro p:hover {
     animation: bougeTitre infinite 10s linear;
}

@keyframes bougeTitre {
     0% {
          transform: translate(0px);
     }

     50% {
          transform: translate(20px);
     }

     100% {
          transform: translate(0px);
     }
}

.bloc-btn {
     position: absolute;
     left: 42/5%;
     top: 50%;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 1s ease-out;
     gap: 25px;
}

.btn {
     display: inline-block;
     padding: 10px 20px 20px;
     background-color: #f68617e4;
     color: #fff;
     text-decoration: none;
     border-radius: 10px;
     font-size: 16px;
     z-index: 999;
}

.btn:hover {
     background-color: #f68617;
     transform: scale(1.1);
     transition: 1s;
}

#home img {
     position: absolute;
     bottom: 1%;
     right: 30%;
     width: 300px;
     height: 300px;
     border-radius: 50%;
     border: 2px #23221e2c Solid;
     opacity: 0.7;
     animation: Home-image infinite 38s linear;
}

#home img:hover {
     opacity: 1;
}

@keyframes Home-image {
     0% {
          transform: translateX(0px)
     }

     50% {
          transform: translateX(100px);
     }

     100% {
          transform: translateX(0px)
     }
}

/* A propos */
#about {
     height: 100vh;
     background-color: white;
     transition: all 1s ease;
}

#about h1 {
     margin: 6% 0% 2%;
     text-align: center;
}

.about-container {
     padding: 0.1%;
     display: flex;
     gap: 25px;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-content: center;
     background-color: white;
     transition: all 1s ease;
}

.about-item {
     width: 450px;
     margin: 2%;
     padding: 0% 1% 1%;
     text-align: center;
     border-radius: 10px;
     border: none;
     box-shadow: 0 3px 8px -3px rgba(163, 163, 163, 0.35);
}

.about-item:hover {
     border: 1px solid rgb(219, 219, 219);
}

#about h3 {
     margin: 5%;
}

#about h3 i {
     margin: 5%;
     font-size: 80px;
     color: rgb(215, 110, 4);
}

#about .about-item p {
     padding: 5px;
     margin: 4px;
     text-align: start;
     color: #393838;
     font-size: 17px;
}


.about-item ul li {
     margin: 5px;
     margin-left: 28px;
     padding: 1px;
     text-align: start;
     list-style: square;
}

/* Service */
#service {
     color: rgb(68, 67, 67);
     height: 100%;
     background-color: rgba(234, 233, 233, 0.74);
     transition: all 1s ease;
     margin-bottom: 2em;
}

#service h1 {
     text-align: center;
     margin-top: 2em;
}

#service .label {
     text-align: center;
     margin: 2em;
     color: #5d5c5c;
}

.service-list h3 {
     text-align: center;
     margin: 1.2em;
}

.service-list {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     list-style: none;
     gap: 40px;
     transition: all 1s ease;
}

.service-item {
     width: 420px;
     height: auto;
     font-size: 15px;
     border-radius: 10px;
     background-color: white;
     box-shadow: 0 3px 8px -3px rgba(163, 163, 163, 0.35);
     color: rgb(29, 28, 28);
}

.service-item:hover {
     border: 1px solid rgb(219, 219, 219);
}

.service-item .lists {
     padding: 2% 10% 0%;
     width: 100%;
     height: 200px;
     transition: all 1s ease;
}

.service-list ul li {
     padding: 5px;
     margin: 2px;
     list-style: decimal;
     text-align: start;
     font-size: 16px;
}

.service-item img {
     width: 100%;
     height: 200px;
}

/* Blog */
#blog {
     color: rgb(43, 41, 41);
     height: 100%;
     transition: all 1s ease;
     text-align: center;
     background-color: #fdfdfd;
}

#blog h1,
p {
     margin: 4% 0% 1.5%;
}

#blog p {
     margin: 0% 0% 2%;
}

#blog .gallery {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
}

.gallery .gallery-item {
     width: 20%;
     height: 480px;
     border: 1px solid #cccccccb;
}

.gallery .gallery-item:hover {
     border: 1px solid #424242;
}

.gallery-item img {
     width: 100%;
     height: 70%;
     border-bottom: 1px solid #e5e2e2cb;
}


.gallery-item img:hover {
     border: 1px solid rgb(219, 219, 219);
}


.gallery-item i {
     color: #f68617;
     margin: 2%;
     font-size: 20px;
}

.gallery-item .desc {
     padding: 15px;
     text-align: start;
}

/* Equipe */
#equipe {
     padding: 2%;
     margin: 2%;
     text-align: center;
     height: 100%;
}

#equipe h1 {
     margin: 8% 0% 8% 0%;
}

.equipe-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
}

.equipe-item {
     margin: 0.5%;
     flex-grow: 1;
     flex-basis: 200;
     justify-content: center;
}

.equipe-item img {
     width: 120px;
     height: 120px;
     border-radius: 50%;
     border: 8px solid rgba(242, 242, 242, 0.88);
}

.equipe-item .identite {
     margin: 12%;
}

.equipe-item .equipe-lien-media a {
     text-decoration: none;
     color: rgb(27, 13, 4);
     margin: 2%;
     font-size: 20px;
}

#equipe .box-under {
     margin-top: 8%;
}

/* Contact */
#contact {
     align-items: center;
     background-color: #ffffff;
     height: 74vh;
     padding: 0.2em;
     transition: all 1s ease;
}

#contact h1 {
     text-align: center;
     margin: 2% 0% 1% 2%;
}

.contact-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 20px;
}

.contact-list .contact-item {
     text-align: start;
     padding: 10px;
     border-radius: 10px;
     background-color: white;
     transition: all 1s ease-in;
     box-shadow: 0 3px 8px -3px rgba(218, 217, 217, 0.35);
}

.contact-item a {
     text-decoration: none;
     color: rgb(54, 53, 53);
     font-size: 15px;
     margin: 15px 0px 0px 1px;
}

.lien-media-contact {
     text-align: center;
     display: flex;
     flex-direction: row;
}

.contact-list .contact-item-1 {
     width: 40%;
}

.contact-list .contact-item .adresse {
     font-size: 18px;
     margin-left: 20px;
}

.contact-item .adresse i {
     font-size: 28px;
     margin: 20px 5px 0px 10px;
}

.contact-list .contact {
     padding: 4px;
     width: 50%;
}

.contact-list .contact iframe {
     width: 100%;
     height: 420px;
}


/* Footer */
footer {
     background-color: #262626;
     color: white;
     height: 20%;
     transition: all 1s ease;
}

footer>#container {
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
     justify-content: space-around;
     gap: 25px;
     padding: 1rem;
     border-bottom: 1px solid rgba(128, 128, 128, 0.459);
     background-color: #262626;
}

#container .bloc-1 {
     text-align: center;
}

#container .bloc-1 img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
}

#container .bloc-1 a {
     text-decoration: none;
     margin: 15px;
     font-size: 25px;
}

#container .bloc-2 {
     text-align: start;
}

#container .bloc-2 h3 {
     margin: 15px;
}

#container .bloc-2 a{
     text-decoration: none;
     color: rgb(250, 221, 187);
     padding: 15px;
     margin: 10px;
}

#container .bloc-2 a i{
     padding: 5px;
     margin: 5px;
}


.retour-entete {
     position: relative;
     top: 5px;
     color: white;
     width: 40px;
     height: 40px;
     padding: 12.5px;
     border-radius: 50%;
     cursor: pointer;
     background-color: #e0dfdf1a;
}

.retour-entete a {
     position: relative;
     top: -10px;
     opacity: 0.4;
     color: white;
     font-size: 28px;
     text-decoration: none;
}

.retour-entete a:hover {
     opacity: 1;
     color: white;
     text-decoration: none;
}

.under {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.copy {
     text-align: center;
     font-size: 15px;
     color: #f0f0f0;
}