/* Police embarqué */
@font-face {
     font-family: ma_police;
     src: url("../assets/fonts/spring_nature/Spring\ Nature.otf") format('otf'),
          url("../assets/fonts/choret_fudyng_bubble/ChoretFudyngBubble-Regular.ttf") format('ttf'),
          url("../assets/fonts/monday_champions/Monday\ Champions.otf") format('otf'),
          url("../assets/fonts/zt_break_fast/ZTBreakFast-Alt.ttf") format('ttf'),
          url("../assets/fonts/zt_break_fast/ZTBreakFast-ExtLtRoundedAlt.ttf") format('ttf');
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'Poppins', sans-serif;
     line-height: 1.6;
     scroll-behavior: smooth;
     transition: all ease 2s;
}

#prechargement {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: white;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 9999;
}

#prechargement.fade-out {
     opacity: 0;
     visibility: hidden;
     transition: visibility 2s ease, opacity 100s linear;
}

.image-prechargement {
     opacity: 1;
     width: 30%;
     border-radius: 1%;
}

.home-bloc {
     background: url('../assets/photos/arriere-plan.png') no-repeat center center/cover;
     height: 100vh;
     background-color: #2d2d2c;
}

header {
     width: 100%;
     height: 70px;
     padding: 0;
}

/* #333*/
.navbar {
     position: fixed;
     top: 0;
     width: 100%;
     height: 10%;
     display: flex;
     justify-content: end;
     padding: 5px;
     transition: all 1s ease-in;
     border-bottom: 1px solid rgba(63, 62, 62, 0.212);
     z-index: 1100;
}

.logo {
     position: absolute;
     top: -40px;
     left: 25px;
     max-width: 200px;
     transition: all 1s ease-in;
}

.logo:hover {
     transform: translateX(4px);
}

.nav-list {
     /*position: sticky; /* Crée la barre "Collante" Une position en fonction de la position de défilement */
     list-style: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     display: flex;
     justify-content: end;
}

.nav-list li a {
     display: block;
     color: white;
     text-decoration: none;
     font-weight: bold;
     margin-top: 25px;
     padding: 4px;
     margin-left: 60px;
     margin-right: 50px;
     transition: all 1s ease-out;
     z-index: 999;
}

.nav-list a:hover {
     color: #feb22e;
     font-weight: bold;
}

.navbar .menu {
     display: none;
     position: absolute;
     top: 18px;
     right: 45px;
     width: 40px;
     border-radius: 5px;
}

.navbar.scroller {
     height: 6%;
     background-color: #000000d4;
     border-bottom: 1px solid rgba(87, 87, 87, 0.997);
}

.navbar.scroller .logo {
     top: -40px;
     max-width: 150px;
     transition: all 1s ease-in;
}

.navbar.scroller .nav-list li a {
     margin-top: 8px;
     padding: 0px;
     margin-left: 20px;
     transition: all 1s ease-in;
}

.lien-media {
     display: none;
}

/* Home */
#home {
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     transition: all 1s ease;
}

.intro {
     padding: 5px;
     margin: 5em;
     margin-top: -20em;
     text-align: justify;
     transition: all 1s ease;
     z-index: 100;
}

.intro p {
     font-size: 16;
     color: #f9f8f8;
     text-align: justify;
     transition: all 1s ease;
     z-index: 100;
}

.intro .slogan {
     text-align: center;
     color: rgb(247, 215, 156);
     font-size: 25px;
}

.intro p span {
     font-weight: bold;
     font-size: 18px;
     color: #fce9ba;
     margin-left: 5%;
}

.intro p:hover {
     animation: bougeTitre infinite 3s linear;
}

@keyframes bougeTitre {
     0% {
          transform: translate(0px);
     }

     50% {
          transform: translate(20px);
     }

     100% {
          transform: translate(0px);
     }
}

.bloc-btn {
     position: absolute;
     left: 44%;
     top: 48%;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 1s ease-out;
}

.btn {
     display: inline-block;
     padding: 20px 50px;
     background-color: #f68617;
     color: #fff;
     text-decoration: none;
     margin-top: 20px;
     border-radius: 5px;
     font-size: 16px;
     z-index: 999;
}

.btn:hover {
     transform: scale(1.1);
     /*transform: scale(1.2, 0.8);/*(x y)*/
     transition: 1s;
}

#home img {
     position: absolute;
     bottom: 10px;
     right: 180px;
     width: 350px;
     height: 350px;
     border-radius: 50%;
     border: 2px #23221e2c Solid;
     opacity: 0.8;
     animation: Home-image infinite 38s linear;
}

#home img:hover {
     opacity: 1;
}

@keyframes Home-image {
     0% {
          transform: translateX(0px)
     }

     50% {
          transform: translateX(100px);
     }

     100% {
          transform: translateX(0px)
     }
}


#about,
#service {
     padding: 40px 0px;
     margin: 0.1em;
}

/* A propos */
#about {
     height: 100vh;
     background-color: rgb(240, 240, 240);
     transition: all 1s ease;
}

.about-bloc {
     margin: auto;
     padding: 35px;
     width: 80%;
     height: auto;
     display: block;
     gap: 10px;
     background-color: white;
     border-radius: 5px;
     border: 1px solid #e0dfdf;
     box-shadow: 0 6px 7px 2px rgba(106, 106, 106, 0.35);
}

.about-bloc:hover {
     box-shadow: 0 5px 5px 3px rgba(190, 168, 140, 0.514);
}

#about h2 {
     margin-top: 2em;
     margin-bottom: 1em;
     text-align: center;
     border-radius: 6px;
     box-shadow: 0 3px 3px 2px rgba(237, 237, 237, 0.35);
}

#about h3 {
     border-bottom: 1px Solid black;
     width: 450px;
     margin: 1em;
}

#about p {
     padding: 10px;
     text-align: start;
     margin: 15px;
     color: #393838;
     font-size: 16px;
}

#about div a {
     text-decoration: none;
     color: white;
     font-size: 15px;
}

.download {
     text-align: center;
     width: 200px;
     margin-left: 42%;
     background-color: #6e6e6cae;
     border: 2px solid white;
     border-radius: 5px;
     padding: 2px;
     cursor: pointer;
     transition: all 1s ease-in;
}

.download:hover {
     border-radius: 15px;
     background-color: #3b3b3b;
}

/* Blog */
#blog {
     background-color: #fdfdfd;
     color: rgb(43, 41, 41);
     height: 100%;
     text-align: center;
     transition: all 1s ease;
     margin-bottom: 2em;
}

#blog h2 {
     margin: 2.5%;
     border-radius: 6px;
     box-shadow: 0 3px 3px 2px rgba(237, 237, 237, 0.35);
}

.blog-item p {
     margin-top: 0.5em;
}

.blog-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 50px;
     padding: 2px;
}

.blog-item {
     width: 400px;
     height: 100%;
     border-radius: 10px;
     border: 1px solid #e0dfdf;
     background-color: white;
     color: rgb(33, 32, 32);
     box-shadow: 0 6px 7px -3px rgba(106, 106, 106, 0.35);
     transition: all 1s ease;
}

.blog-item:hover {
     transform: scale(1.1);
}

.blog-item .img-bloc {
     background-color: rgb(254, 254, 254);
     width: auto;
     height: auto;
     border-radius: 5px;
     margin-bottom: 0em;
}

.blog-item img {
     width: 100%;
     height: auto;
     border-radius: 2px;
}

.blog-item a {
     text-align: start;
     text-decoration: none;
     color: rgb(34, 33, 33);
     border-radius: 10px;
     margin-top: 1em;
}

.projet img {
     width: 100%;
     height: 160px;
}

.projet #list-projet {
     padding: 2px;
     text-align: start;
     margin-left: 2em;
}

/* Service */
#service {
     color: rgb(68, 67, 67);
     height: 100%;
     text-align: center;
     background-color: #fdfdfd;
     transition: all 1s ease;
     margin-bottom: 2em;
}

#service h2 {
     margin-top: 2em;
     border-radius: 6px;
     box-shadow: 0 3px 3px 2px rgba(237, 237, 237, 0.35);
}

#service h3 {
     margin: 1em;
}

#service .label {
     margin-top: 2.8em;
     color: #5d5c5c;
}

.service-list {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     list-style: none;
     gap: 40px;
}

.service-item {
     width: 380px;
     height: auto;
     padding: 3%;
     font-size: 15px;
     border-radius: 10px;
     border: 1px solid #e0dfdf;
     background-color: white;
     box-shadow: 0 6px 7px -3px rgba(106, 106, 106, 0.35);
     color: rgb(29, 28, 28);
     transition: all 1s ease;
}

.service-item:hover {
     transform: scale(1.1);
}

.service-item .formation-image {
     width: 5vh;
     margin-bottom: 4%;
     border-radius: 100px;
}

.service-item .lists {
     width: 100%;
     height: 200px;
     transition: all 1s ease;
}

.service-list ul li {
     list-style: decimal;
     text-align: start;
     font-size: 15px;
}

.service-item a {
     text-decoration: none;
     font-size: 12.5px;
     color: white;
     padding: 4px;
     margin-top: 24px;
     border-radius: 5px;
     background-color: #f68617;
     border: 1px solid rgba(128, 128, 128, 0.661);
}

.service-item a:hover {
     background-color: #f1b749;
}

.lien-fichier {
     margin: 5%;
}

/* Contact */
#contact {
     align-items: center;
     background-color: #ffffff;
     height: 80vh;
     text-align: center;
     padding: 0.5em;
     margin: 10px;
     transition: all 1s ease;
}

#contact h2 {
     margin-top: 2em;
     border-radius: 6px;
     box-shadow: 0 3px 3px 2px rgba(237, 237, 237, 0.35);
}

.contact-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 40px;
}

.contact-list .contact-item {
     text-align: start;
     width: auto;
     height: auto;
     margin: 40px;
     border-radius: 5px;
     background-color: white;
     box-shadow: 0 6px 6px 7px rgba(218, 217, 217, 0.35);
     transition: all 1s ease-in;
}

.contact-item:hover {
     box-shadow: 0 4px 4px 2px #fbeed6;
}

.contact-item h3 {
     text-align: center;
     margin: 1.5em 0em 1.5em;
}

.contact-item a {
     text-decoration: none;
     margin: 20px;
     color: rgb(54, 53, 53);
     font-size: 15px;
}

.contact-item a i {
     margin: 5px;
}

.contact-list .contact-item-1 {
     width: 400px;
}

.contact-item img {
     margin-top: 2em;
     width: 100%;
     height: 160px;
}

.contact-list .contact {
     padding: 4px;
}

.adresse {
     text-align: center;
     margin-block: 8px;
}

/* Footer */
footer {
     background-color: #262626;
     color: white;
     height: 50%;
     padding: 1em;
     transition: all 1s ease;
}

footer>#container {
     margin: auto;
     justify-content: space-around;
     text-align: center;
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
     gap: 20px;
     padding: 1rem;
     border-bottom: 1px solid rgb(93, 92, 92);
     background-color: #262626;
}

.bloc-1 {
     text-align: start;
     width: 50%;
     border-right: 1px solid white;
}

.bloc-1>p {
     margin: 15px;
     text-align: start;
}

.bloc-1 a {
     text-decoration: none;
     color: rgb(250, 221, 187);
     margin: 15px;
}

.bloc-2 {
     text-align: start;
     width: 25%;
}

.bloc-2 h4 {
     margin: 0px 0px 20px -25px;
}

.bloc-2 a {
     color: white;
     text-decoration: underline;
     margin: 20px;
}

.retour-entete {
     position: relative;
     top: -65px;
     color: white;
}

.retour-entete a {
     opacity: 0.4;
     color: white;
     font-size: 30px;
     text-decoration: none;
}

.retour-entete a:hover {
     opacity: 1;
     color: white;
     font-size: 30px;
     text-decoration: none;
}

.copy {
     margin: 1rem 0rem 0rem 0rem;
     text-align: center;
     font-style: italic;
     font-size: 14px;
     color: #f0f0f0;
     background-color: #262626;
     width: 100%;
}